.GenSelect {
  display: block !important;
}
.InpModified {
  opacity: 1 !important;
  display: inline-block !important;
  position: static !important;
  width: auto !important ;
  height: auto !important ;
  margin-right: 12px !important;
}
.header--standard {
  position: absolute !important;
}
.landing-page {
  animation: none !important;
}
